
.weather-broadcast {
    width: 100%;
    height: 100vh;
    padding: var(--spacing-md);
    border: solid violet;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-lg);
}

.data-wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid gold;
}

.current-conditions {
    border: solid royalblue;
}

.weather-icon {
    border: solid fuchsia;
}

.temperature-value {
    border: solid fuchsia;
}

.phrase-value {
    border: solid fuchsia;
}

.data {
    border: solid green;
}

.day {
    border: solid yellowgreen;
}

.timestamp {
    border: solid yellowgreen;
}

.location {
    border: solid yellowgreen;
}