.circle-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-greyish-dark);
    border-radius: 50%;
    cursor: pointer;
}

.circle-button > span {
    color: white;
}